.nav {
	text-transform: uppercase;
	font-weight: bold;
	padding: 14px 10px 14px 10px;
}

.title-logo{
	text-transform: uppercase;
}

.jumbotron{
	height: 500px
	background-image: url('http://uploads.jovo.to/idea_attachments/432718/120_bigger.jpg?1299144464');

}

.title-logo img{
	height:45px;
	width:75px;
}